<ul><% if task.completed? %>
  <li><strike><%= task.name %></strike></li>
	<p><%= link_to "Delete Task", assignment_task_path(@assignment, task), method: :delete, data: { confirm: "Are you sure?" } %></p>
  <% else %>
	<li><%= task.name %></li>
  <% end %>
 <p><%= link_to "Mark as Complete/Incomplete", complete_assignment_task_path(@assignment, task), method: :patch %></p>
</ul>
