<ol>
    <% @assignment.tasks.each do |task|%>
      <li><%= task.name %></li>
      <p><%= link_to "Remove Task", assignment_task_path(@assignment, task), method: :delete, data: { confirm: "Are you sure?" } %></p>
    <% end %>
</ol>

<%= link_to "Home Page", root_path %>
