<% if signed_in? %>
<center>
  <h1>Ready to get work done?</h1>
  <h4>view your <%= link_to "Assignments", user_assignments_path(current_user.id, @assignment), :class => "assignment_list" %>

      <% else %>
      <h3> Sign in or Sign up to start making assignments <h3>
     <%= link_to "Log in", new_session_path(@user) %>
   </center>
<% end %>
